
*.xcuserstate
BookProject.xcodeproj/project.xcworkspace/xcuserdata/kunalpatil.xcuserdatad/UserInterfaceState.xcuserstate
BookProject.xcodeproj/xcuserdata/kunalpatil.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
